#introduction-section {
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-section-image {
    background-size: cover;
    background-position: center;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
}

/*Section items*/

.section-title-container {
    z-index: 99;
    position: absolute;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.section-title-container h1 {
    font-size: 6rem;
    text-shadow: 3px 5px 5px black;
    font-weight: 700;
    color: #e5e5e0;
}

.introduction-button {
    display: inline-block;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    background-color: #e5e5e0;
    border-radius: 0.15rem;
    padding: 5px 10px;
    transition: 0.15s;
}

.introduction-button:hover {
    background-color: #d3d3cd
}

/*Content section*/

#section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-section {
    width: 70%;
    margin-bottom: 50px;
}

/*Introduction message animation*/
.animated-title {
    font-family: monospace;
    color: white;
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(12), borderEasing 1s linear infinite;
}


@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes borderEasing {
    from {
        border-right: 2px solid;
    }

    to {
        border: none;
    }
}

/*Text styles*/

.h1-title {
    font-size: 3rem;
    font-weight: 500;
    padding-top: 50px;
    margin-bottom: 20px;
}

.h2-subtitle {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(69, 69, 69);
}

.p-text {
    color: #1b1b1b;
    line-height: 1.5em;
    margin-bottom: 25px;
}